body{
	background-color: #E8E8E8;
	margin: 0;
}

.navbar{
	background-color: white;
}

.navbar ul{
	list-style: none;
	margin: 15px;
	padding-top: 8px;
	padding-bottom: 22px;
}

.navbar ul li{
	display: inline;
}

.navbar ul li a{
	padding: 14px 16px;
}

.navbar ul li a:hover {
	background-color: gray;
	color: black;
}

.principal{
	margin: 20px;
	background-color: white;
	padding-top: 1px;
	padding-bottom: 20px;
	border-radius: 20px;
	padding-left: 20px;	
}
