body{
	background-color: #E8E8E8;
	margin: 0;
}

.navbar{
	background-color: white;
}

.navbar ul{
	list-style: none;
	margin: 15px;
	padding-top: 8px;
	padding-bottom: 22px;
}

.navbar ul li{
	display: inline;
}

.navbar ul li a{
	padding: 14px 16px;
}

.navbar ul li a:hover {
	background-color: gray;
	color: black;
}

.principal{
	margin: 20px auto;
	background-color: white;
	width: 90%;
	padding:10px 20px;
	border-radius: 20px;
}

#painelDeImg{
	width: 90%;
	margin: 0px auto;
}

#painelDeImg img{
	overflow: hidden;
	width: 100%;
	border-radius: 20px;
}